<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
	version="6.0">
	
	<!-- Đăng ký filter cho Sitemesh -->
	<filter>
		<filter-name>sitemesh</filter-name>
		<filter-class>org.sitemesh.config.ConfigurableSiteMeshFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>sitemesh</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<session-config>
		<tracking-mode>COOKIE</tracking-mode>
	</session-config>

	<!-- Đăng ký Thymeleaf view resolver (nếu cần) -->
	<servlet>
		<servlet-name>thymeleaf</servlet-name>
		<servlet-class>org.thymeleaf.spring5.SpringTemplateEngine</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>thymeleaf</servlet-name>
		<url-pattern>*.html</url-pattern>
	</servlet-mapping>
</web-app>
